* {
    padding: 0;
    margin: 0;

}

body {
    background-color: #171717;
}

/*--------------- hearder-------------- */

.header {

    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    align-items: center;
    justify-content: space-between;
    transition-duration: 500ms;
    position: sticky;
    top: 0;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
}

.header_name {
    margin-right: 40px;
    white-space: nowrap;
    padding: 10px;
    margin: 5px 0;
    margin-right: 5px;
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: transparent;
}

.header_name_hide h2 {
    padding: 5px 15px;
    display: none;
    position: relative;
    background-color: transparent;
}

.header_name_hide h2:hover {
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    transition-duration: 500ms;

}

.header_one {
    padding: 10px;
    margin: 5px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: transparent;
}

.header_one h2 {
    cursor: pointer;
    transition-duration: 500ms;
    padding: 5px 15px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 20px;
    background-color: transparent;

}

.header_one h1 {
    background-color: transparent;
}

.header_one h2:hover {
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
}


.header_one img {
    width: 5%;
    height: 65%;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: transparent;
}

.header_one img:hover {
    background-color: #1A98FF;
    fill: black;
    padding: 5px 15px;
    border-radius: 5px;
    transition-duration: 500ms;
    position: relative;

}


.header_one_sub {
    display: flex;
    gap: 1px;
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
    color: #e3e3e3;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: transparent;

}

.header_one_sub svg {
    fill: #e3e3e3;
    background-color: transparent;
}

.header_two {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.header_two svg {
    cursor: pointer;
    fill: #e3e3e3;
    padding: 5px;
    border-radius: 100px;
    transition-duration: 500ms;
}

.header_two svg:hover {
    background-color: white;
    fill: black;
    padding: 5px;
    border-radius: 100px;
    transition-duration: 500ms;

}

.header_two button {
    padding: 10px 15px;
    background-color: #1A98FF;
    border: none;
    color: white;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    white-space: nowrap;

}

.header_two button:hover {
    opacity: 0.9;
}

.header_hide_menu {
    display: block;
}

.header_hide {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    align-items: center;
    justify-content: space-between;
    transition-duration: 500ms;
    position: relative;
    top: 0;
    color: white;
    background-color: none;
    gap: 50px;
    position: absolute;
    top: 100%;
    left: 12.3%;
    background-color: #1e1f20;
    padding: 20px 40px;
    width: 10%;
    border-radius: 5px;

}

.header_hide h2 {
    cursor: pointer;
    transition-duration: 500ms;
    padding: 5px 15px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 20px;
    background-color: transparent;
}

.header_hide h2:hover {
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
}

.header_hide img {
    width: 60%;
    height: 65%;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: transparent;
}

.header_hide img:hover {
    background-color: #1A98FF;
    fill: black;
    padding: 5px 15px;
    border-radius: 5px;
    transition-duration: 500ms;
    position: relative;

}


/* .header_hide_sub svg {
    fill: #e3e3e3;
} */
/* -----------searchbar----------- */
.searchbar {
    display: block;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.searchbar_box {
    display: flex;
    justify-content: center;
    background-color: #1e1f20;
    padding: 30px 20px;
    border-radius: 30px;
    width: 80%;
}

.searchbar_item {
    position: relative;
    padding: 5px;
    width: 90%;
    height: 50px;
    border: 3px solid white;
    border-radius: 2px;
    color: #e3e3e3;
    display: flex;
    align-items: center;
    border-radius: 15px;

}

.searchbar_item input {
    width: 100%;
    border: none;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: transparent;
}

.searchbar_item input:focus {
    outline: none;
}

.searchbar_item i {
    color: white;
    position: relative;
    font-size: 20px;
    margin-left: 10px
}

/* -------------genres-------------- */
.app_container {
    position: relative;
}

.genres {
    color: white;
    position: absolute;
    background-color: #1e1f20;
    padding: 10px 20px;
    width: 35%;
    left: 59%;
    border-radius: 20px;
    display: block;
    z-index: 20;
    top: 12.5%;
}

.genres_srn {

    display: flex;
    background-color: transparent;
    justify-content: center;
    position: relative;
    right: 7%;
    padding: 20px 30px;
    gap: 15%;
    margin-left: 40px;
}

.genres_types {
    margin: 5px 10px;
    margin-left: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.genres_types h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #5a5a5a;
    font-size: 16px;
}

.genres_types li {
    margin: 10px 0;
    white-space: nowrap;
    cursor: pointer;
    text-align: start;
    padding: 5px;
    transition-duration: 100ms;
}

.genres_types li:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}

.genres_types ul,
li {
    list-style: none;
    gap: 10px;
}

.genres_types h2,
ul,
li {
    background-color: #1e1f20;
}

.genres_collections {

    margin: 5px 10px;
    /* margin-right: 30px; */
    background-color: #1e1f20;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    max-width: 50%;
    position: ;
}

.genres_collections h2 {
    white-space: nowrap;
    text-align: center;
    color: #5a5a5a;
    font-size: 16px;
}

.genres_collections li {
    margin: 20px 0;
    white-space: nowrap;
    cursor: pointer;
    text-align: start;
    font-size: 16px;
    padding: 5px;
    transition-duration: 100ms;

}

.genres_collections li:hover {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.genres_collections ul,
li {
    list-style: none;
    gap: 10px;
}

.genres_collections h2,
ul,
li {
    background-color: #1e1f20;

}

.save_box {
    background-color: #1e1f20;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 20px 20px;
    width: 10%;
    position: absolute;
    left: 79%;
    border-radius: 10px;
    z-index: 21;
    top: 12.5%;

}

.save_ele {
    background-color: #1e1f20;
    text-align: center;
}

.save_ele li {
    background-color: transparent;
    margin-bottom: 30px;
    cursor: pointer;
    color: white;
    padding: 5px;
}

.save_ele li:hover {
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition-duration: 100ms;
}

/* -----------------profile--------------- */

.profile_box {
    background-color: #1e1f20;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 20px 20px;
    width: 15%;
    position: absolute;
    left: 81%;
    border-radius: 10px;
    color: white;
    z-index: 22;
    top: 12;
}

.profile_box h2 {
    background-color: #1e1f20;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 20px;
}

.profile_ele {
    background-color: #1e1f20;
}

.profile_ele li {
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
    padding: 5px;
    text-align: start;
    text-align: start;
}

.profile_ele li:hover {
    background-color: white;
    color: black;
    padding: 5px;
    transition-duration: 100ms;
    border-radius: 5px;
}

/* ---------------background videos------------ */
/* --------------swier----- */
.condainer {
    width: 96vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 18px;
}

.swiper {
    width: 100vw;
    max-height: 85vh;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    overflow: hidden;
}

.swiper-slide video {
    width: 100%;
    height: 650px;
    object-fit: fill;
    filter: brightness(0.9);

}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #ffffff;
}

.swiper .swiper-pagination-bullet-active {
    background-color: #ffffff;
    width: 20px;
    height: 5px;
    border-radius: 2px;
}

.bg_video {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;

}

.bg_video video {
    width: 100%;
    height: 630px;
    object-fit: fill;
    filter: brightness(0.9);
}

.bg_video_mute {
    position: absolute;
    color: white;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
    right: 5%;
    top: 8%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 15px;
    border-radius: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    fill: white;
}

.unmute {
    display: none;
}

.bg_video_mute:hover {
    background: #e3e3e3;
    fill: black;
}

.bg_video_ele {
    position: absolute;
    color: white;
    text-align: start;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background: rgba(0, 0, 0, 0.8);
    width: 40%;
    height: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
    z-index: 9;
}

.bg_video_ele h1 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.bg_video_ele h3 {
    text-transform: capitalize;
    white-space: nowrap;
}

.bg_video_ele p {
    width: 90%;
}

.bg_video_ele button {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #1A98FF;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    align-items: center;
}

.bg_video_ele button i {
    margin-right: 5px;
}

.bg_video_ele::before {
    content: "";
    position: absolute;
    top: 0;
    width: 90%;
    height: 100%;
    left: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}



/* ------------------web series ------------- */

.webseries_section{
    margin: 0px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    color: white;
    padding: 0;
}
.webseries_section h1{
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}
.webseries_section h2{
    margin-top: 10px;
    margin-left: 20px;
}
.webseries_section_box{
   display: flex;
   overflow-x: scroll;
   justify-content: space-between;
   gap: 20px;
   padding: 0;
    
}
.webseries_section_box::-webkit-scrollbar{
    appearance: none;
}
.webseries_img {
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.webseries_img img{
    width: 15vw;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px white solid;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    position: relative;
}
.webseries_img img:hover{
    transition-duration: 500ms;
    transform: scale(1.1);
    margin-bottom: 10px;
    margin-bottom: 50px;
}

/* -------------movie container-------------- */

.movie_container{
    margin: 0px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    color: white;
}
.movie_container h2{
    margin-left: 20px;
}
.movie_selector_box{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 20px;

}
.movie_selector_box::-webkit-scrollbar{
    appearance: none;
}
.movie_img{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}
.movie_img img{
    width: 15vw;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px white solid;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.movie_img img:hover{
    transform: scale(1.1);
    transition-duration: 500ms;

}

/* --------------footer--------------- */
.footer{
    border-top: 0.5px white solid;
    background-color: #000000;
    padding: 20px;
}
.footerele{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.footerele img{
    width: 5vw;
}
.footerele p{
font-size: 16px;
color: #1A98FF;
cursor: pointer;
text-align: center;

}
.footerele span{
    font-size: 16px;
    color: white;
    margin-left: 10px;
}
.hide {
    display: none;
}

@media screen and (max-width:1350px) {
    .header_one {
        display: none;
    }

    .header_name_hide h2 {
        display: block;
    }

    .header_hide_menu {
        font-size: 16px;
    }

    .genres {
        font-size: 10px;
        width: 29%;
    }

    .genres_types {
        margin-right: 20px;
        font-size: 10px;
    }

    .genres_collections li {
        font-size: 10px;
    }

    .genres_collections h2 {
        font-size: 12px;
    }

    .save_box {
        left: 75%;
        font-size: 13px;
    }

    .profile_box {
        font-size: 10px;
        width: 10%;
        left: 80%;
        white-space: nowrap;
    }

    .profile_box h2 {
        font-size: 13px;
    }

    .container {
        height: 85vh;
        width: 96vw;
    }

    .swiper {
        margin: 10px 20px;
        width: 90vw;
        max-height: 85vh;

    }
}

@media screen and (max-width:1200px) {
    #app {
        display: none;
    }

    #save {
        display: none;
    }

    .header_two button {
        display: none;
    }

    .profile_box {
        font-size: 8px;
        width: 10%;
        left: 85%;
        white-space: nowrap;
    }

    .profile_box h2 {
        font-size: 9px;
    }

    .header_name h2 {
        justify-content: center;
    }

    .header_hide_menu h2 {
        justify-content: start;
        font-size: 10px;
    }

    .container {
        height: 75vh;
        width: 96vw;
    }

    .swiper {
        margin: 10px 20px;
        width: 90vw;
        max-height: 75vh;

    }

    .left_btn {
        left: 3%;
    }

    .right_btn {
        right: 4%;
    }

}

@media screen and (max-width:900px) {
    .profile_box {
        font-size: 8px;
        width: 10%;
        left: 80%;
        white-space: nowrap;
    }

    .profile_box h2 {
        font-size: 9px;
    }

    .header_name h2 {
        justify-content: center;
    }

    .header_hide_menu h2 {
        justify-content: start;
        font-size: 10px;

    }

    .container {
        height: 75vh;
        width: 96vw;
    }

    .swiper {
        margin: 10px 20px;
        width: 90vw;
        max-height: 75vh;

    }

    .bg_video_ele p {
        display: none;
    }

    .bg_video_ele h3 {
        font-size: 12px;
    }


}

@media screen and (max-width:600px) {

    .profile_box {
        font-size: 8px;
        width: 10%;
        left: 75%;
    }

    .profile_box h2 {
        font-size: 7px;
    }

    .profile_box li {
        font-size: 5px;
        left: 2%;
    }

    .container {
        height: 65vh;
        width: 96vw;
    }

    .swiper {
        margin: 10px 20px;
        width: 90vw;
        max-height: 65vh;

    }
    .webseries_img img{
        width: 30vw;
        height: 80%;
    }
    .webseries_img img:hover{
        transition-duration: 500ms;
        transform: scale(1.1);

    }
    .movie_img img{
        width: 30vw;
        height: 80%;
    }
    .movie_img img:hover{
        transform: scale(1.1);
        transition-duration: 500ms;
    
    }

}

/* ---------------------header done----------- */